<% content_for :title, "Create your account" %>
<% content_for :page_title, "Create your account" %>

<%= tag.p "Configure Active Record Encryption before continuing", class: "mx-4 px-2 py-1 text-sm font-medium text-center text-red-900 bg-red-50 border border-red-100 rounded-md" if Rails.env.development? && Rails.application.credentials.active_record_encryption&.primary_key.blank? %>

<%= form_with model: @signup, url: signup_path, class: "px-2 md:px-4" do |form| %>
  <%= form.input :email_address %>

  <%= form.input :password %>

  <div class="buttons">
    <%= form.submit "Sign up", data: {turbo_submits_with: "Signing up…"}, class: "btn-primary" %>
  </div>
<% end %>

<%= content_for(:alternative_action) { link_to "Already have an account?", new_session_path, class: "block text-center text-sm font-medium text-gray-500 hover:underline" } %>
